body {
    background-color: black;
  }
  
  .terminal span, textarea {
    color: rgb(0, 255, 0);
    margin: 0%;
    font-size: 16pt;
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  }

  .terminal textarea {
    background: transparent;
    border: none;
    outline: none;
    resize: none;
    overflow: hidden;
    font-size: 16pt;
    line-height: 16pt;
  }